<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/about">À Propos</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1><%= aboutPageTitle %></h1>
      <p><%= aboutPageContent %></p>

      <% if (team.length > 0) { %>
        <h2>Notre équipe :</h2>
        <ul>
          <% team.forEach(member => { %>
            <li>
              <h3><%= member.name %></h3>
              <p><%= member.role %></p>
              <p><%= member.bio %></p>
            </li>
          <% }) %>
        </ul>
      <% } %>
    </main>

    <footer>
      <p>&copy; 2023 Mon Site Web</p>
    </footer>
  </body>
</html>