<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/about">À Propos</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1><%= homePageTitle %></h1>
      <p><%= homePageContent %></p>

      <% if (services.length > 0) { %>
        <h2>Nos services :</h2>
        <ul>
          <% services.forEach(service => { %>
            <li><%= service.title %></li>
          <% }) %>
        </ul>
      <% } %>
    </main>

    <footer>
      <p>&copy; 2023 Mon Site Web</p>
    </footer>
  </body>
</html>