/* style.css */
/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-title {
    font-size: 32px;
    margin: 0;
  }
  
  .header-nav {
    display: flex;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
  }
  
  .nav-link:hover {
    color: #ccc;
  }
  
  /* Main Content Styles */
  .main {
    max-width: 1200px;
    margin: 40px auto;
  }
  
  .features {
    margin-bottom: 40px;
  }
  
  .section-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .feature-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .feature-item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
  }
  
  .feature-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .feature-description {
    font-size: 16px;
    color: #666;
  }
  
  /* Footer Styles */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-text {
    font-size: 14px;
    margin: 0;
  }